.hidden{
    display: none;
}

#navbar {
    display: flex;
    gap: 0.5rem;
    font-family: system-ui, sans-serif;
    padding-bottom: 30px
}


#navbar input[type="radio"] {
    display: none;
}


#navbar label {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    background: #f0f0f0;
    color: #555;
    border: 1px solid transparent;
}

#navbar label:hover {
    background: #e5e5e5;
}


#navbar input[type="radio"]:checked + label {
    background: #ffffff;
    color: #000;
    border-color: #0078d4;
    font-weight: 600;
}