.hidden{
    display: none;
}

#navbar {
    display: flex;
    gap: 0.5rem;
    font-family: system-ui, sans-serif;
    padding-bottom: 30px
}


#navbar input[type="radio"] {
    display: none;
}


#navbar label {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    background: #f0f0f0;
    color: #555;
    border: 1px solid transparent;
}

#navbar label:hover {
    background: #e5e5e5;
}


#navbar input[type="radio"]:checked + label {
    background: #ffffff;
    color: #000;
    border-color: #0078d4;
    font-weight: 600;
}

table, td, th, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    margin-top: 10px;
}

 .result {
      background: #4CAF50;       
      color: white;
      padding: 20px 30px;
      border-radius: 8px;
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 20px;
    }

    .question {
      background: #1976D2;
      color: white;
      padding: 20px 30px;
      border-radius: 8px;
      font-size: 1.1rem;
      max-width: 600px;
    }

    .answers {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
        justify-content: center; 
    }

    .answers button {
      background: white;         
      color: #1976D2;            
      border: 1px solid #1976D2;
      padding: 8px 14px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
    }

    .answers button:hover {
      background: #e3f2fd;
    }